@include "layout.html"

<div class="my-16 mx-auto max-w-sm space-y-6">
    <div class="space-y-1 text-center">
        <h1 class="text-2xl font-bold text-green-500">Sabores da amazônia</h1>
        <h2 class="text-2xl font-bold">Cadastre-se</h2>
        <p class="text-gray-500 dark:text-gray-400">
            Informações pessoais
        </p>
    </div>
    <form hx-post="/api/signup" class="space-y-4">
        <div class="space-y-2">
            <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="name"
            >
                Nome
            </label>
            <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                name="name"
                placeholder="John Doe"
                required
                type="text"
            />
        </div>
        <div class="space-y-2">
            <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="email"
            >
                Email
            </label>
            <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                name="email"
                placeholder="email@@dominio.com"
                required
                type="email"
            />
        </div>
        <div class="space-y-2">
            <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="password"
            >
                Password
            </label>
            <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                name="password"
                placeholder="Insira uma senha forte"
                required
                type="password"
            />
        </div>
        <div class="flex gap-2 items-center">
            <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
                type="submit"
            >
                Concluir
            </button>

            <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-transparent border text-primary hover:bg-primary hover:text-white h-10 px-4 py-2 w-full"
                type="reset"
            >
                Voltar
            </button>
        </div>

    </form>
</div>
